.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  text-transform: uppercase;
  color: rgb(230, 126, 28);
}

.map-wrapper {
  border: 2px solid rgb(230, 126, 28);
  padding: 15px;
  height: 50vh;
  width: 70vw;
}